# Magento specific directories and files to ignore
src/vendor/
src/generated/
src/pub/static/
src/pub/media/
src/var/
src/app/etc/env.php
src/app/etc/config.php

# General environment files
.env
.env.*

# Docker and compose-related files
compose*.yaml
Makefile
rootCA.pem

# Node.js and frontend-related
node_modules/
pub/media/*
pub/static/*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore specific system files
.DS_Store
Thumbs.db
.idea/
*.swp
*.swo

# Temporary or development files
*.bak
*.tmp
*.old
*.orig
